Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-SocketIO==5.3.6
Werkzeug==2.3.7
Jinja2==3.1.6
python-socketio==5.9.0
eventlet==0.33.3
Pillow==10.1.0
gunicorn==21.2.0
# Se passi a Postgres, aggiungi anche:
# psycopg2-binary==2.9.9
